<h1>Live games</h1>

<div class="live_games">
  <ul>
<% @live_games.each do |game| %>
    <% tag = live_game(game) %>
    <li><%= link_to "#{tag}", ttt_path(game) %></li>       
<% end %>
<ul>
<div>




